# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
import init.fac.rc

on early-boot
    chown bluetooth net_bt_stack /dev/ttyHS0
    chmod 0660 /dev/ttyHS0

on init
#Private Mode
    mkdir /mnt/shell/privatemode 0700 system system
    mkdir /storage/Private 0000 system system

on fs
#For Absolute Persistence Partition 
       
    mkdir /persdata 0755 system system 
    mkdir /persdata/absolute 0750 system system 
  
    wait /dev/block/platform/msm_sdcc.1/by-name/persdata 
    check_fs /dev/block/platform/msm_sdcc.1/by-name/persdata ext4 
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persdata /persdata/absolute nosuid nodev barrier=1 
      
    chown system system /persdata 
    chmod 0755 /persdata 
    chown system system /persdata/absolute 
    chmod 0750 /persdata/absolute

# Support Preload install apks
    mkdir /preload 0771 system system

on boot
# For setting tcp delayed ack
    chown system system /sys/kernel/ipv4/tcp_delack_seg
    chown system system /sys/kernel/ipv4/tcp_use_userconfig

# Define TCP delayed ack settings for WiFi & LTE
    setprop net.tcp.delack.default     1
    setprop net.tcp.delack.wifi        8
    setprop net.tcp.delack.lte         8
    setprop net.tcp.usercfg.default    0
    setprop net.tcp.usercfg.wifi       1
    setprop net.tcp.usercfg.lte        1

# Fingerprint
    mkdir /dev/validity 0770 system system

# permission for MUIC(waterproof)
    chown system radio /sys/class/sec/switch/uart_en

# MSP FactoryApp
    mkdir /efs/FactoryApp 0775 system system

# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown radio net_bt_stack /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# DualWave
    chown system system /sys/kernel/DualWave/sound/DUALWAVE_CONFIG

# bluetooth LPM
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite
    chmod 0600 /dev/btlock
    chown bluetooth bluetooth /dev/btlock

# IPSec for VOLTE   
    chown root system /dev/socket
    chmod 0775 /dev/socket

###############################################################################
# System LSI
# Comment : add permission to device driver

# NFC : Permissions for NFC
    chmod 0660 /dev/sec-nfc
# NFC : change owner
    chown nfc nfc /dev/sec-nfc
# NFC : create data/nfc for nv storage
    mkdir /data/nfc 0700 nfc nfc
    mkdir /data/nfc/param 0700 nfc nfc
##############################################################################

# SSWAP
    write /proc/sys/vm/swappiness 130

#   Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.lte     2097152,4194304,8388608,1048576,3145728,4194304
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsdpa   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspap   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680
    setprop net.tcp.buffersize.evdo    4094,87380,262144,4096,16384,262144

#   Assign TCP buffer thresholds to be ceiling value of technology maximums
#   Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  8388608
    write /proc/sys/net/core/wmem_max  8388608

# for ethernet
service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

# TODO: replace it with device's DEXPREOPT_BOOT_JARS

#Private Mode
service privatemode /system/bin/sdcard /data/privatemode /mnt/shell/privatemode 1000 1000
    class late_start
    oneshot

# SENSOR FRAMEWORK : starts fingerprintService
service vcsFPService /system/bin/vcsFPService
    class late_start
    user system
    group system

on post-fs-data

#Private Mode
    mkdir /data/privatemode 0770 system system
    chown system system /data/privatemode
    restorecon /data/privatemode\

# SKT PM PlayReady
    mkdir /data/playready 771 system skt
    chown system skt /data/playready
    chmod 0771 /data/playready

# SKT DRM for hoppin
    mkdir /data/data/.sktdrm 0775
    chown system radio /data/data/.sktdrm
    chmod 0775 /data/data/.sktdrm

# for SKT TBASED
    mkdir /data/tbased 0775 root wifi
    chown root wifi /data/tbased
    chmod 0775 /data/tbased

    chown wifi wifi /system/lib/libiwlan_module.so
    chmod 0644 /system/lib/libiwlan_module.so
    chmod 0755 /system/bin/tbased

# SKT TBASE
service tbased /system/bin/tbased
    class main
    user root
    oneshot

# SSWAP
service swapon /sbin/sswap -s
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot

# Bluetooth dhcpcd config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
	disabled
	oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
	disabled
	oneshot

# IPSec for VOLTE   
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin

# umount service
service umount_service /system/bin/umount /preload
    disabled
    oneshot    

# Support Preload install apks
on property:persist.sys.storage_preload=1
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/hidden /preload nosuid nodev ro barrier=1
    setprop storage.preload.complete 1

on property:persist.sys.storage_preload=0
    start umount_service

on property:ro.carrier=wifi-only
    setprop ro.radio.noril yes
    stop ril-daemon

#Modem mount on Bootdevice
#on fs_selinux
# for modem one binary
#    wait /dev/block/platform/msm_sdcc.1/by-name/modem
#    mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem /firmware-modem rw shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337,context=u:object_r:firmware:s0
#    copy /system/etc/acdb.mbn /firmware-modem/image/acdb.mbn
#    mount vfat /dev/block/mmcblk0p1 /firmware-modem ro remount

#on early-fs
# for modem one binary
#    wait /dev/block/platform/msm_sdcc.1/by-name/modem
#    mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem /firmware-modem rw shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337,context=u:object_r:firmware:s0

on post-fs
    write /sys/block/mmcblk0/queue/read_ahead_kb 512

on property:init.svc.bootanim=stopped
# permission for Input Device(Touchkey).
    chown radio system /sys/class/sec/sec_touchkey/touch_sensitivity
    chown radio system /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system radio /sys/class/sec/sec_touchkey/1mm_mode
    chown system radio /sys/class/sec/sec_touchkey/boost_level

# Wacom
    chown system radio /sys/class/sec/sec_epen/epen_firm_update
    chown system radio /sys/class/sec/sec_epen/epen_reset
    chown system radio /sys/class/sec/sec_epen/epen_reset_result
    chown system radio /sys/class/sec/sec_epen/epen_checksum
    chown system radio /sys/class/sec/sec_epen/epen_checksum_result
    chown system radio /sys/class/sec/sec_epen/epen_saving_mode
    chown system radio /sys/class/sec/sec_epen/epen_connection
    chown system radio /sys/class/sec/sec_epen/epen_tuning_version
    chown system radio /sys/class/sec/sec_epen/epen_firm_update_status
    chown system radio /sys/class/sec/sec_epen/epen_firm_version
    chown system radio /sys/class/sec/sec_epen/epen_delay_time
    chown system radio /sys/class/sec/sec_epen/boost_level
